<h2 class="top">Edit User</h2>
<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div class="left">Name:</div>
  <div class="right"><input type="text" name="user[name]" value="<%= @user.name %>"></div>
  <br><br>
  <input type="submit" name="submit" value="submit" class="button">
</form>
