<h2 class="top">Edit Restaurant</h2>
<form action="/restaurants/<%= @restaurant.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <div class="left">Name:</div>
  <div class="right"><input type="text" name="restaurant[name]" value="<%= @restaurant.name %>"></div>
  <br><br>
  <div class="left">Rating:</div>
  <div class="right"><input type="text" name="restaurant[rating]" value="<%= @restaurant.rating %>"></div>
  <br><br>
  <div class="left">Address:</div>
  <div class="right"><input type="text" name="restaurant[address]" value="<%= @restaurant.address %>"></div>
  <br><br>
  <input type="submit" name="submit" value="SUBMIT" class="button">
</form>
