<h2>Add a Restaurant</h2>
<br>
<form action="/restaurants" method="post">
  <p>Name: <input type="text" name="restaurant[name]"></p>
  <p>Rating: <input type="text" name="restaurant[rating]"></p>
  <p>Address: <input type="text" name="restaurant[address]"></p>
  <input type="submit" name="submit" value="submit">
</form>
